.hero {
  background: white;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(17, 17, 17, 0.7);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 48px;
  color: #d32f2f;
}

.hero p {
  font-size: 20px;
  margin: 15px 0;
}

.hero button {
  background: #d32f2f;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: white;
  color: #d32f2f;
}
